/* Gaya dasar untuk seluruh halaman */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Gaya untuk background */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.jsdelivr.net/gh/rhamt24/rhamt.github.io/Images/bacground.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* Gaya untuk kontainer pencarian */
#search-container {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 20px;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#search-form button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-form button:hover {
    background-color: #555;
}

/* Gaya untuk hasil pencarian */
#results {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gaya untuk kontainer musik */
.music-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 3;
}

.track-title {
    color: white;
}

.music-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #777;
    padding: 10px;
    border-radius: 5px;
}

.controls button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #555;
    color: white;
}

/* Gaya untuk tombol Hide dan Show */
#hide-music, #close-music, #show-music {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#hide-music {
    right: 60px;
}

#hide-music:hover, #close-music:hover, #show-music:hover {
    background-color: #555;
}

/* Gaya untuk tampilan mobile */
@media screen and (max-width: 768px) {
    .music-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    #search-form {
        flex-direction: column;
    }

    #search-form input[type="text"] {
        margin-bottom: 10px;
        width: 90%;
    }

    #results {
        width: 100%;
        padding: 0;
    }
    }
